html, body {
  height: 100%;
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
}

.btn {
  border-radius: 2rem !important;
}

.row {
  box-sizing: border-box !important;
  margin-right: 0 !important;
}

.img-login {
  width: 930px;
  height: 450px;
  position: relative;
  top: 30px;
  left: 30px;
  z-index: 1;
}

.footer {
  left: 67% !important;
  color: rgb(114, 114, 114);
}

/* ----------------------- */
.label-float{
  position: relative;
  padding-top: 13px;
  width: max-content;
}

.label-float input{
  border: 0;
  border-bottom: 2px solid lightgrey;
  outline: none;
  width: 45vh;
  min-width: 180px;
  font-size: 16px;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -webkit-appearance:none;
  border-radius: 0;
}

.label-float input:focus{
  border-bottom: 2px solid #3951b2;
}

.label-float input::placeholder{
  color:transparent;
}

.label-float label{
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
}

.label-float input:required:invalid + label{
  color: red;
}
.label-float input:focus:required:invalid{
  border-bottom: 2px solid red;
}
.label-float input:required:invalid + label:before{
  content: '*';
}
.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label{
  font-size: 13px;
  margin-top: 0;
  color: #3951b2;
}
/* ------------------------------- */
/* inputs dos formularios */
.label-float-forms{
  position: relative;
  padding-top: 13px;
  width: max-content;
}

.label-float-forms input{
  border: 0;
  border-bottom: 2px solid lightgrey;
  outline: none;
  width: max-content;
  min-width: 570px;
  font-size: 16px;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -webkit-appearance:none;
  border-radius: 0;
}

.label-float-forms input:focus{
  border-bottom: 2px solid #3951b2;
}

.label-float-forms input::placeholder{
  color:transparent;
}

.label-float-forms label{
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
}

.label-float-forms input:required:invalid + label{
  color: red;
}
.label-float-forms input:focus:required:invalid{
  border-bottom: 2px solid red;
}
.label-float-forms input:required:invalid + label:before{
  content: '*';
}
.label-float-forms input:focus + label,
.label-float-forms input:not(:placeholder-shown) + label{
  font-size: 13px;
  margin-top: 0;
  color: #3951b2;
}

/* inputs dos formularios */

/* configurando textarea */
.label-float textarea{
  border: 0;
  border-bottom: 2px solid lightgrey;
  outline: none;
  width: 45vh;
  min-width: 180px;
  font-size: 16px;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -webkit-appearance:none;
  border-radius: 0;
}

.label-float textarea:focus{
  border-bottom: 2px solid #3951b2;
}

.label-float textarea::placeholder{
  color:transparent;
}

.label-float textarea:required:invalid + label{
  color: red;
}
.label-float textarea:focus:required:invalid{
  border-bottom: 2px solid red;
}
.label-float textarea:required:invalid + label:before{
  content: '*';
}
.label-float textarea:focus + label,
.label-float textarea:not(:placeholder-shown) + label{
  font-size: 13px;
  margin-top: 0;
  color: #3951b2;
}
/* configurando textarea */
/* textarea de formularios */
.label-float-forms textarea{
  border: 0;
  border-bottom: 2px solid lightgrey;
  outline: none;
  width: 570px;
  min-width: 180px;
  font-size: 16px;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -webkit-appearance:none;
  border-radius: 0;
}

.label-float-forms textarea:focus{
  border-bottom: 2px solid #3951b2;
}

.label-float-forms textarea::placeholder{
  color:transparent;
}

.label-float-forms textarea:required:invalid + label{
  color: red;
}
.label-float-forms textarea:focus:required:invalid{
  border-bottom: 2px solid red;
}
.label-float-forms textarea:required:invalid + label:before{
  content: '*';
}
.label-float-forms textarea:focus + label,
.label-float-forms textarea:not(:placeholder-shown) + label{
  font-size: 13px;
  margin-top: 0;
  color: #3951b2;
}
/* textarea de formularios */

/* selects de formularios */
.label-float-forms select{
  border: 0;
  border-bottom: 2px solid lightgrey;
  outline: none;
  width: 570px;
  min-width: 180px;
  font-size: 16px;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -webkit-appearance:none;
  border-radius: 0;
  margin-top: 5px;
  padding: 10px 5px;
}

.label-float-forms select:focus{
  border-bottom: 2px solid #3951b2;
}

.label-float-forms select::placeholder{
  color:transparent;
}

.label-float-forms select:required:invalid + label{
  color: red;
}
.label-float-forms select:focus:required:invalid{
  border-bottom: 2px solid red;
}
.label-float-forms select:required:invalid + label:before{
  content: '*';
}
.label-float-forms select:focus + label,
.label-float-forms select:not(:placeholder-shown) + label{
  font-size: 13px;
  margin-top: 0;
  color: #3951b2;
}
.menu-lateral {
  color: #FFFFFF !important;
  background-color: #007bff !important;
}

.menu-lateral a {
  color: #FFFFFF !important;
}

.menu-lateral a:hover {
  background-color: #006bdd !important;
}

.menu-topo {
  z-index: 1 !important;
  box-shadow: 5px 0 6px #0000008c !important;
}

.div-btn-actions {
  position: fixed;
  z-index: 1;
  left: 90%;
  top: 85%;
  width: 5%;
  height: 10%;
  border-radius: 100px;
  box-shadow: 3px 3px 3px #0000008c;
}

.btn-actions {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  box-shadow: 3px 3px 3px #0000008c;
}

.btn-actions:hover {
  background-color: #006bdd;
}

.btn-actions:focus {
  outline: none !important;
}

.btn-actions-tasks {
  position: fixed;
  z-index: 1;
  left: 91%;
  top: 77%;
  width: 5%;
  height: 9%;
  border-radius: 100px;
  box-shadow: 3px 3px 3px #0000008c;
}

.btn-actions-tasks:hover {
  background-color: #006bdd;
}

.btn-actions-tasks:focus {
  outline: none !important;
}

.btn-actions-projects {
  position: fixed;
  z-index: 1;
  left: 91%;
  top: 69%;
  width: 5%;
  height: 9%;
  border-radius: 100px;
  box-shadow: 3px 3px 3px #0000008c;
}

.btn-actions-projects:hover {
  background-color: #006bdd;
}

.btn-actions-projects:focus {
  outline: none !important;
}

.ml-4 {
  margin-left: 2.5rem!important;
}

.menu-actions {
  background-color: rgba(255, 255, 255, 0) !important;
}

.menu-actions a:hover {
  background-color: rgba(255, 255, 255, 0) !important;
}

.icon-cards {
  font-size: xxx-large !important;
}

.icon-perfil {
  font-size: x-large !important;
}

.icon-btn {
  font-size: large !important;
  border-radius: 50%;
  padding: 5px;
}

.icon-btn:hover {
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
}

.icon-btn-danger:hover {
  background-color: rgb(255, 202, 202) !important;
}

.icon-btn-warning:hover {
  background-color: rgb(249, 255, 170) !important;
}
