<div class="col-sm-2 h-100">
  <nav class="nav flex-column menu-lateral h-100">
    <a class="nav-link border-bottom" href="/dashboard"><i class="fa fa-home mr-3"></i>Home</a>
    <a class="nav-link border-bottom" href="#"><i class="fa fa-columns mr-3"></i>Projects</a>
    <a class="nav-link border-bottom" href="/tasks"><i class="fa fa-tasks mr-3"></i>Tasks</a>
    <a class="nav-link" href="#"><i class="fa fa-calendar mr-3"></i>Today</a>
  </nav>
</div>
